@import url("_media.css");
* {
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
}

.fixed-menu {
  position: fixed;
  width: 100%;
}

body {
  background-color: rgba(150, 150, 150, 0.3);
}

.label {
  background-color: #000;
  color: #fff;
  padding: 6px;
  text-transform: uppercase;
  width: 150px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1.2rem;
}

.main-bg {
  background-image: url("../img/bg/main_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

h2.title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 24px;
}

.subtitle {
  color: #222;
  font-size: 18px;
  text-align: center;
  margin-bottom: 1.2rem;
}

.green {
  color: #1eacc7;
}

.red {
  color: #ff5656;
}

/* ------- HEADER ----------- */
header {
  color: white;
}

header nav {
  background-color: #212121;
}

header .menu {
  padding: 13px 0;
  margin-bottom: 0;
  display: flex;
  justify-content: space-evenly;
}

header .menu-item:not(:last-of-type) {
  border-right: 2px dotted #000;
}

header .menu .menu-link {
  font-size: 15px;
  font-weight: 300;
  color: inherit;
  padding: 0 20px;
}

/* --SUBHEADER -- */
.subheader {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 16px 0;
}

.subheader a {
  color: inherit;
}

.logo {
  max-width: 100%;
  margin-bottom: 6px;
}

.logo__text {
  opacity: 0.5;
  font-size: 13px;
}

.subheader-call {
  text-align: right;
}

.subheader-call a {
  display: block;
  margin-top: 8px;
  font-size: 22px;
}

span.dot {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.subheader .btn {
  margin-top: 8px;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  width: 172px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  /* border: 3px solid rgba(0,0,0,0.07); */
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  padding: 14px 0;
}

.subheader .btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

/*  ================== */
.promo {
  text-align: center;
  padding: 150px 0 135px;
  color: white;
}

.promo h1, .promo h2 {
  text-transform: uppercase;
  font-weight: 700;
}

.promo h1 {
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 22px;
}

.promo h2 {
  font-size: 36px;
  line-height: 36px;
  margin-top: 0;
  margin-bottom: 24px;
}

.promo p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  margin-bottom: 24px;
}

.promo p:last-of-type {
  margin-bottom: 118px;
}

.promo .btn {
  color: white;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 172px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  /* border: 3px solid rgba(0,0,0,0.07); */
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  padding: 14px 0;
}

.promo .btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

/* section REASONS */
.reasons {
  padding-top: 50px;
  /* SECTION Mobile Appl */
}

.reasons h2 {
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin-bottom: 1.2rem;
}

.reasons ul {
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reasons ul li {
  max-width: 50%;
  box-sizing: border-box;
  flex-basis: 500px;
  margin-bottom: 2rem;
}

.reasons article {
  text-transform: normal;
  font-size: 18px;
  text-align: left;
  padding-left: 80px;
  position: relative;
}

.reasons article::before {
  content: "";
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #1eacc7;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}

.reasons article h2 {
  font-size: 18px;
  text-align: left;
  color: #1eacc7;
  text-transform: none;
}

.mobile {
  text-align: center;
  padding: 48px 0 79px;
  background-image: url("../img/bg/mobile_app.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mobile li {
  padding: 8px;
  margin-bottom: 16px;
  min-width: 320px;
  min-height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: content-box;
  box-sizing: border-box;
}

.mobile li:first-of-type {
  background-image: url("../img/bg/mobile_screen_1.jpg");
}

.mobile li:nth-of-type(2) {
  background-image: url("../img/bg/mobile_screen_2.jpg");
}

.mobile li:nth-of-type(3) {
  background-image: url("../img/bg/mobile_screen_3.jpg");
}

.mobile li:nth-of-type(4) {
  background-image: url("../img/bg/mobile_screen_4.jpg");
}

.mobile li:nth-of-type(5) {
  background-image: url("../img/bg/mobile_screen_5.jpg");
}

.mobile li:nth-of-type(6) {
  background-image: url("../img/bg/mobile_screen_6.jpg");
}

.mobile__item {
  min-width: 320px;
  min-height: 280px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}

.mobile__item__title {
  text-transform: uppercase;
  color: #fff;
  padding-top: 30%;
  margin-bottom: 2rem;
}

.mobile__item__plus {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  width: 26px;
  height: 26px;
  background-color: #000;
  cursor: pointer;
}

.mobile__item__plus::before {
  content: '';
  display: block;
  width: 16px;
  height: 2px;
  background-color: #1eacc7;
  position: absolute;
  top: 12px;
  left: 5px;
  transition: .3s all;
}

.mobile__item__plus::after {
  content: '';
  display: block;
  width: 2px;
  height: 16px;
  background-color: #1eacc7;
  position: absolute;
  top: 5px;
  left: 12px;
  transition: .3s all;
}

.mobile__item__plus:hover::before, .mobile__item__plus:hover::after {
  background-color: #ff5656;
}

.choise {
  text-align: center;
  padding: 48px 0 79px;
  min-height: 80vh;
  background: linear-gradient(to bottom, #000, #000 60%, #fff 60%, #fff 100%);
}

.choise .label {
  background-color: #fff;
  color: #000;
  margin-bottom: 2.8rem;
}

.choise .title {
  color: #fff;
}

.choise .subtitle {
  color: #fff;
  margin-bottom: 3.5rem;
}

.choise .choise__info {
  margin-bottom: 0.6rem;
}

.conditions {
  padding: 48px 0 79px;
  background-color: #fff;
}

.conditions .title {
  text-align: center;
  margin-top: 2.3rem;
  margin-bottom: 2rem;
}

.conditions__title {
  font-size: 22px;
}

.conditions .conditions__list {
  margin: 33px 0;
  padding-left: 50px;
}

.conditions .conditions__list li {
  padding-left: 40px;
  margin-bottom: 1rem;
  position: relative;
  line-height: 24px;
  font-weight: 300;
  font-size: 17px;
}

.conditions .conditions__list li::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center center;
}

.conditions .green + ul li::before {
  background-image: url("../icons/check_blue.png");
}

.conditions .red + ul li::before {
  background-image: url("../icons/check_red.png");
}

.worldwide {
  background-image: url("../img/bg/map.jpg");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
  padding: 48px 0 79px;
  color: #fff;
  min-height: 80vh;
}

.worldwide .subtitle {
  color: inherit;
}

.worldwide .link {
  position: absolute;
  bottom: 79px;
  left: 50%;
  transform: translateX(-50%);
}

.worldwide .link a {
  color: #1eacc7;
  text-transform: uppercase;
}

footer {
  background-color: #fff;
  text-align: center;
  padding: 1.2rem 0;
}

footer .footer-devider {
  height: 5px;
  background-color: #1eacc7;
  width: 350px;
  margin: 0 auto;
  border-radius: 2px;
}

footer .footer-content {
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
}

footer .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #000;
  display: inline-block;
  margin-right: 0.6rem;
  font-family: 'icommon';
  color: #fff;
  line-height: 40px;
  text-align: center;
}

footer .icon:hover {
  text-decoration: none;
}

footer .links li {
  display: inline-block;
  text-transform: uppercase;
}

footer .links li:not(:last-of-type) {
  margin-right: 0.8rem;
}

footer .links li a {
  color: #000;
}

footer .links .links__secondary-links {
  font-size: 14px;
}

footer .links .links__secondary-links a {
  color: #aaa;
}

.underlay {
  height: 1rem;
  background-color: #000;
}

.pseudo .circle {
  background-color: orange;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-bottom: 1.2rem;
}

.pseudo .circle:before {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: #000;
  transition: 0.5s all;
  position: relative;
  top: -6px;
  left: 50%;
}

.pseudo .circle:hover::before {
  width: 100%;
}

.pseudo input::placeholder {
  background-color: gray;
  color: red;
  font-style: italic;
}
