@media (max-width: 1200px) {
  .menu-item {
    padding-right: 20px;
  }
  .menu-link {
    font-size: 13px;
  }
}

@media (max-width: 992px) {
  section.promo h1 {
    font-size: 50px;
  }
}

@media (max-width: 868px) {
  section.reasons ul li {
    width: 100%;
    max-width: 100%;
    flex-basis: 100%;
  }
}

@media (max-width: 767px) {
  header ul.menu {
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100vh;
    flex-direction: column;
    justify-content: start;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 3;
    transition: .5s all;
  }
  header ul.menu_active {
    right: 0;
  }
  header ul.menu li {
    margin-bottom: 2rem;
    border: none;
  }
  header ul.menu li .menu-link {
    font-size: 18px;
  }
  header ul.menu::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    height: 30px;
    background-color: #000;
    background-image: url("../icons/burger.png");
    background-repeat: no-repeat;
    background-position: center center;
  }
}
