*{ font-family: Roboto, sans-serif;}
ul{list-style-type: none;}
img{max-width: 100%;}
.fixed-menu{position: fixed; width: 100%;}

body{background-color: rgba(150,150,150,.3);}
.main-bg{background-image: url('../img/bg/main_bg.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;}
/* ------- HEADER ----------- */
header{color: white;}
header nav {background-color: #212121; }
header .menu{padding: 13px 0; margin-bottom: 0;
    display: flex;
    justify-content: space-evenly;
}
header .menu-item:not(:last-of-type){border-right: 2px dotted #000;}
header .menu .menu-link{ font-size: 15px; font-weight: 300; color: inherit; padding: 0 20px;}

/* --SUBHEADER -- */
.subheader{background-color: rgba(0,0,0,.6); padding: 16px 0;}
.subheader a{color: inherit;}
.logo{max-width: 100%; margin-bottom: 6px;}
.logo__text { opacity: 0.5; font-size: 13px;}
.subheader-call{text-align: right;}
.subheader-call a{display: block; margin-top: 8px; font-size: 22px;}
span.dot{ display: inline-block; width: 4px; height: 4px; background-color: #fff; border-radius: 50%; vertical-align: middle;}
.subheader .btn{
    margin-top: 8px;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    display: block; text-align: center;
    width: 172px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.12);
    /* border: 3px solid rgba(0,0,0,0.07); */
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    padding: 14px 0;
}

/*  ==================  */
.promo{
    text-align: center; padding: 150px 0 135px ; color: white;
}
.promo h1, .promo h2{text-transform: uppercase; font-weight: 700;}
.promo h1{  font-size: 60px; line-height: 60px; margin-bottom: 22px;}
.promo h2{ font-size: 36px; line-height: 36px; margin-top: 0; margin-bottom: 24px;}
.promo p{ font-size: 18px; line-height: 24px; font-weight: 300; margin-bottom: 24px;}
.promo p:last-of-type{margin-bottom: 118px;}
.promo .btn{
    color: white;
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block; 
    text-align: center;
    width: 172px;
    box-shadow: inset 0 -3px 0 rgba(0,0,0,0.12);
    /* border: 3px solid rgba(0,0,0,0.07); */
    border-radius: 4px;
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    padding: 14px 0;
}

/* section REASONS */
.reasons{
    padding-top: 50px;
}
.reasons h2{
    text-transform: uppercase;
    font-size: 30px; text-align: center;  margin-bottom: 1.2rem;
}
.reasons ul{display: flex;  padding: 0; flex-wrap: wrap; justify-content: space-between; }
.reasons ul li{
    max-width: 50%; box-sizing: border-box; flex-basis: 500px; margin-bottom: 2rem;   
}
.reasons article::before{
    content: ""; display: block; width: 60px; height: 60px; border-radius: 50%; background-color: #1eacc7; 
    position:  absolute; top: 50%; left: 10px; transform: translateY(-50%);
}

.reasons article{
    text-transform: normal;  font-size: 18px; text-align: left;
    padding-left: 80px;  position: relative;
}
.reasons article h2{ font-size: 18px; text-align: left; color:  #1eacc7; text-transform: none;}